# Application Settings
DEBUG=True
APP_ENV=development

LOCALE=zh-CN

TUSHARE_TOKEN=your_tushare_token

# Option, for langsmith tracing and monitoring
# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
# LANGSMITH_API_KEY="xxx"
# LANGSMITH_PROJECT="xxx"
