Current Date: {{ current_date }}
Locale: {{ locale }}
_____________________________________________________________

use the given stock data tools to get the stock data for the given stock code, start date, and end date.